center {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif
}

#basketkings {
    color: black;
}

#Produtos {
    color: black;
}

#Lojas {
    color: black;
}

#fale_conosco {
    color: black;
}

#formadepagamento {
    color: orangered;
}

.menu {
    background-color: orangered
}

.menu a {
    text-decoration: none;
    color: black
}

#rodape {
    text-align: center;
}